<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Vue JS</title>

    <style>
          body {
             padding: 20px;
          }
    </style>
</head>
<body>

   <div id="app">
     <div class="mb-1">
        <form  @submit.prevent="addItemToArray">
            <input placeholder="Write something..." class="form-control" type="text" v-model="item">
            <button class="btn btn-primary my-1" type="submit">Add Item</button>
        </form>
      
     </div> 
       <div>
           <p  v-if="loader">Loading....</p>
            <table
              v-if="!loader"
             class="table table-striped" 
             style="border-collapse: collapse;"
             width="100%" border="1">
             <thead>
                  <th scope="col">Name</th>
                  <th scope="col">Actions</th>
             </thead>
                 <tbody>
                       
                       <tr v-for="(item, index) in foods" :key="index">
                        <td 
                         style="width: 70%;"
                         :colspan="index === editIndex ? 2 : 1"
                         ><span v-if="index !== editIndex">
                            {{item}}</span>
                            <form style="display: block;" v-if="editMode && editIndex === index " @submit.prevent="updataArray">
                                <input class="form-control" style="display: block; width: 99%;"  type="text"  v-model="editItem">
                                <button  hidden type="submit">Update</button>
                            </form>
                        </td>
                    

                        <td v-if="editIndex !== index"
                         style="text-align: end;"
                         >
                          <button class="btn btn-primary m-1" @click="editItemFu(index)">Edit</button>
                          <button class="btn btn-danger"  @click="removeFromArray(index)">X</button>
                        </td>

                           
                       </tr>
                 </tbody>
            </table>

        
       </div> 
         <div v-if="loader">
             loading...
         </div>
        <div v-if="!loader">
            <div :key="c" v-for="c in games">
               <input :id="c" @change="handleChange($event)" type="checkbox" :value="c" />
               <label :for="c">{{c}}</label>
            </div>
           
             <ul>
               <li v-for="i in checked" :key="i" >{{i}}</li> 
            </ul>
        </div>
       
   </div>

   <script
       src="https://unpkg.com/vue@3/dist/vue.global.js">
    </script>

    <script src="./app.js"></script>
</body>
</html>



